:root {
  --header-color: #012d63;
  --footer-color: #021635;
  --text-color-1: #c7c7c7;
  --text-color-2: #959595;
}

* {
  margin: 0px;
}

header {
  font-family: "Roboto";
  background-color: var(--header-color);
}

.header-nav {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-link {
  color: #ffffff;
  text-decoration: none;
}

.nav-link-1 {
  margin-left: 60px;
  margin-top: 16px;
  margin-bottom: 17px;
}

.nav-link-2 {
  margin-left: 152px;
  margin-bottom: 33px;
  margin-top: 30px;
}

.nav-link-3 {
  margin-left: 29px;
  margin-bottom: 33px;
  margin-top: 30px;
}

.nav-link-4 {
  margin-left: 29px;
  margin-bottom: 33px;
  margin-top: 30px;
}

.nav-link-5 {
  margin-left: 29px;
  margin-bottom: 33px;
  margin-top: 30px;
}

.nav-link-6 {
  margin-left: 29px;
  margin-bottom: 33px;
  margin-top: 30px;
}

.nav-link-7 {
  margin-left: 29px;
  margin-bottom: 33px;
  margin-top: 30px;
}

body {
  margin-left: auto;
  margin-right: auto;
  width: 1440px;
}

.lang-button {
  background-color: var(--header-color);
  border-style: none;
  color: #ffffff;
  margin-left: 73px;
}

.hero-sec {
  display: flex;
  background-image: url(./images/Group\ 37\ \(1\)\ 1heroimage.png);
  height: 855px;
  color: #ffffff;
  align-items: center;
}

.sec1 {
  list-style: none;
}

.nike-buy {
  background-color: #8e32c6;
  border-style: solid;
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 19px;
  padding-left: 61px;
  padding-right: 61px;
  color: #ffffff;
  width: 254px;
  height: 67px;
  left: 165px;
  top: 698px;
  margin-left: 164px;
  margin-top: 41px;
}

.text-under-nike-icon {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 64px;
  margin-left: 195px;
}

.main-hero-text {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 144px;
  line-height: 192px;
  margin-left: 156px;
}

.text-under-main-hero-text {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 96px;
  margin-left: 164px;
}

.text-under-all {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin-left: 164px;
  margin-top: 12px;
}

.image-hero-nike {
  margin-left: 200px;
}

.container-sec2 {
  height: 606px;
  background-image: url(./images/Group\ 8\ 1sec2image.png);
  color: #ffffff;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-2,
.item-3 {
  margin-left: 145px;
}

.border-row {
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-radius: 5px;
  border-color: #8e32c6;
  width: 1110px;
  height: 396px;
  left: 165px;
  top: 1053px;
}

.item-4-text {
  margin-left: 50px;
}

.item-5-text {
  margin-left: 60px;
}

.item-3-text {
  margin-left: 60px;
}

.container-sec3 {
  color: #ffffff;
}

.card-1-text,
.card-2-text,
.card-3-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  margin-top: 49px;
  margin-left: 13px;
  margin-right: 14px;
  margin-bottom: 8px;
}

.card-1-date,
.card-2-date,
.card-3-date {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #D8D8D8;
  margin-bottom: 47px;
  margin-left: 13px;
}

.name-person-1,
.name-person-2,
.name-person-3 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.date-since-1,
.date-since-2,
.date-since-3 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #D8D8D8;
}

.sec-3-reviews {
  display: flex;
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 64px;
  color: #ffffff;
  justify-content: center;
}

.card-1 {
  background: linear-gradient(136.55deg, #00E5E6 7.29%, #00A8F7 26.04%, #9A76F9 62.5%, #CC5EC2 100%);
  box-shadow: 0px 14px 0px -5px #7B54B3, 0px 30px 0px -13px #533978;
  border-radius: 15px;
}

.card-2 {
  background: linear-gradient(136.55deg, #FF68B4 0%, #FF45E1 26.04%, #CE3AFF 62.84%, #8961FF 100%);
  box-shadow: 0px 14px 0px -5px #9159B1, 0px 30px 0px -13px #61337C;
  border-radius: 15px;
}

.card-3 {
  background: linear-gradient(142.67deg, #FFE128 0%, #FF9B5C 30.21%, #FF8381 63.29%, #FF5489 100%);
  box-shadow: 0px 14px 0px -5px #B95A4C, 0px 30px 0px -13px #732F26;
  border-radius: 15px;  
}

.cards {
  display: flex;
  margin-left: 40px;
}

.third-sec {
  height: 519px;
  background-image: url(./images/Group\ 6\ 1sec3image.png);
}

.containersec3 {
  width: 1440px;
  height: 455px;
  display: flex;
  align-items: center;
}

.card-1-person,
.card-2-person,
.card-3-person {
  margin-left: 13px;
}

.card-2,
.card-3 {
  margin-left: 93px;
}

.container-sec3 {
  display: flex;
}

.left {
  height: 455px;
  display: flex;
  align-items: end;
}

.normal-row-1,
.normal-row-2,
.normal-row-3 {
  display: flex;
  flex-direction: row;
  padding-bottom: 29px;
}

.normal-1,
.normal-2,
.normal-3 {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}

.fourth-sec {
  height: 509px;
  background-image: url(./images/Group\ 2\ 1sec3image.png);
  color: #ffffff;
}

.orderr {
  display: flex;
  justify-content: center;
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 64px;
}

.order-text {
  margin-top: 21px;
  margin-bottom: 33px;
}

.inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.in-1,
.in-2,
.in-3,
.in-4 {
  margin-bottom: 19px;
  border-radius: 50px;
}

.order-bot {
  color: #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 49px;
  padding-right: 49px;
  background: #8E32C6;
  border-radius: 16px;
  margin-bottom: 20px;
}

.in-1 {
  height: 60px;
  width: 690px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 33px;
  padding-left: 25px;
}

.in-2,
.in-3,
.in-4 {
  height: 50px;
  width: 580px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  padding-left: 24px;
}

